/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #e0e0e0;
}

/* Dashboard Layout */
.dashboard_container {
  display: block;
  height: 100vh;
}

/* Header */
.header {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 8vh;
}
.header_panel_title {
  background-color: rgb(176, 186, 196);
  padding: 10px 20px;
  border-radius: 30px;
}
.header_username {
  position: absolute;
  right: 20px;
  font-size: 14px;
}

/* Sidebar */
.sidebar {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar a {
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
.sidebar a:hover {
  background-color: #34495e;
}
.sidebar_img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
#logout {
  margin-top: auto;
  background-color: darkgray;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;
  position: relative;
  bottom: 120px;
}
#logout:hover {
  background-color: gray;
}

/* Content Area */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Containers */
.content_add_orders,
.content_active_orders,
.content_modify_order {
  display: none;
}
.content_add_orders.active,
.content_active_orders.active,
.content_modify_order.active {
  position: relative;
  left: 100px;
  display: block;
  width: 80%;
  height: 90%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid #000;
}

/* Form Containers */
.add_order_container,
.modify_order_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order_info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.event_info, .address_info, .customer_info {
  flex: 1;
  min-width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.input_row {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 10px;
}


.input_row label {
  flex: 1;
  width: 200px;
}

.input_row input, .input_row select {
  flex: 2;
  width: 180px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.item_and_worker_info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item_container, .workers_info {
  flex: 1;
  min-width: 300px;
}
.table_wrapper {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.order_total {
  text-align: right;
}

/* Headings */
h3, h4, h5 {
  margin: 10px 0;
}

/* Button Styles */
button {
  background-color: #575757;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
button:hover {
  background-color: #4d4d4d;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 300px;
  max-height: 300px;
  font-size: 12px;
}
table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
table th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}
table tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tr:hover {
  background-color: #f1f1f1;
}
