body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #2c3e50;
    width: 100%;
    height: 6%;
    color: white;
    display: flex;
    justify-content: center;
}
.header-username {
    font-size: 12px;
    display: flex;
    text-align: right;
    align-items: center;    
    position: fixed;
    top: 0px;
    right: 20px;
}
.header-panel-title {
    width: 240px;
    justify-content: center;
    display: flex;
    position: fixed;
    top: -40px;
    padding-top: 20px;
    background-color: rgb(176, 186, 196);
    border-radius: 30px;
}

.sidebar {
    width: 12%;
    height: 106%;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 6%;
}

.sidebar a {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    background-color: #34495e;
}


.sidebar_img {
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}

#logout {
    position: relative;
    top: 250px;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: darkgray;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#logout:hover {
    background-color: gray;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 96%;
}

.content_add_orders,
.content_add_item_list,
.content_active_orders,
.content_payment_channel,
.content_order_history,
.content_inventory_stock {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add_form_container,
.item_container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 1560px;
}

.event_info,
.customer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.event_info input,
.customer-info input,
.customer-info select {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item_container label,
.add_form_container label {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    align-self: center;
    width: 120px;
    margin-bottom: 10px;

}

.input-row {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}



h3, h4, h5 {
    margin: 5px;
    font-style:italic;
}

.logout_button,
.content_add_orders button,
.content_add_item_list button,
.content_active_orders button,
.content_payment_channel button,
.content_order_history button,
.content_inventory_stock button {
    background-color: #575757;
    color: white;
    padding: 20px;
    border-radius: 25px;
    position: relative;
    width: 200px;
}
.logout_button,
.content_add_orders button:hover,
.content_add_item_list button:hover,
.content_active_orders button:hover,
.content_payment_channel button:hover,
.content_order_history button:hover,
.content_inventory_stock button:hover {
    background-color: #4d4d4d;
}

#tablesContainer,
#chairsContainer,
#miscContainer {
    background-color: wheat;
    width: 450px;
    height: 300px;
    overflow-y:visible;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 12px;
}

table th {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
}
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
table tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr:hover {
    background-color: #f1f1f1;
}
