body {
    font-family: 'Overpass Mono';
    background-color: #F5F5F5;
}

/* ---------- Login Page ---------- */
body {
    background: radial-gradient(circle, #F5F5F5, #778DA9, #F5F5F5, #415A77);
    background-size: 400% 400%;
    animation: fluidParticles 60s ease infinite; /* Increased duration to 60s */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes fluidParticles {
    0% { background-position: 50% 50%; }
    25% { background-position: 0% 100%; }
    50% { background-position: 100% 100%; }
    75% { background-position: 100% 0%; }
    100% { background-position: 50% 50%; } /* Adjusted to ensure a smoother transition */
}

.login-container {
    width: 400px;
    background: #1b263b;
    padding: 70px;
    border-radius: 50px;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Logo */
.login_img {
    width: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    background: white;
    padding: 10px;
}

/* Label Styling */
.login_label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

/* Input Fields */
.login_input {
    height: 30px;
    width: 375px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/* Button Styling */
.login_Button {
    height: 40px;
    width: 375px;
    padding: 12px;
    background-color: #415A77;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login_Button:hover {
    background-color: #223A5E;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    border-radius: 30px;
    height: 150px;
    width: 300px; /* Could be more or less, depending on screen size */
    display: flex; /* Use flexbox to center the content */
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    position: relative; /* Position relative to place the close button */
  }
  
  .modal-message {
    text-align: center; /* Center text inside the modal */
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .close-button {
    color: #aaa;
    position: absolute; /* Position absolute to place it in the top right corner */
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-content i {
    margin-top: 20px; /* Add top margin for the <i> class */
  }